@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(-1px);
    }
}

@keyframes logoFadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(-0.8px);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 从上到下的淡入动画 */
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 应用slide-in动画的类 */
.animate-slide-in {
    animation: slide-in 0.2s ease-out forwards;
    opacity: 0;
    /* 初始状态为透明 */
}

/* 应用从上到下的淡入动画 */
.animate-fade-in-down {
    animation: fade-in-down 0.5s ease-out forwards;
}
