---
import { SiteConfig } from '../config.ts';
import { ProfileConfig } from '../config.ts';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PostList from '../components/Postlist.astro';
import Categorynav from '../components/Categorynav.astro';
import Introduction from '../components/Introduction.astro';
import { ReadingTime } from '../utils/Readtime-Wordcount';
import { Icon } from "astro-icon/components";


// 分页配置
const POSTS_PER_PAGE = SiteConfig.PaginationConfig.POSTS_PER_PAGE;

// 根页面始终是第一页
const page = 1;

// 读取文章数据
const posts = await getCollection('posts');

// 计算每篇文章的字数
const processedPosts = await Promise.all(
  posts.map(async (post) => {
    const readingTimeResults = await ReadingTime(post.body);
    return {
      ...post,
      data: {
        ...post.data,
        wordCount: readingTimeResults.words, // 添加 wordCount 字段
      },
    };
  })
);

// 按发布时间排序
processedPosts.sort((a, b) => new Date(b.data.published).getTime() - new Date(a.data.published).getTime());
// 分页处理
const totalPosts = processedPosts.length;
const totalPages = Math.ceil(totalPosts / POSTS_PER_PAGE);
const startIndex = (page - 1) * POSTS_PER_PAGE;
const paginatedPosts = processedPosts.slice(startIndex, startIndex + POSTS_PER_PAGE);
---
<Layout>
  
      <!-- 个人介绍区域 -->
      {ProfileConfig.showOnHome && (
        <Introduction />
      )}
      
      <!-- 分类导航卡片 -->
      <Categorynav />
      
      <PostList posts={paginatedPosts} />
      <!-- 分页导航 -->
      {totalPages > 1 && (
        <div class="pagination">
          <span class="pagination-info">
             {page}  /  {totalPages}
          </span>
          
          <div class="pagination-buttons">
            {page > 1 && (
              <a href={`/page/${page - 1}`} class="pagination-btn prev">
                <Icon name="tabler:chevron-left" />
              </a>
            )}
            
            {page < totalPages && (
              <a href={`/page/${page + 1}`} class="pagination-btn next">
                <Icon name="tabler:chevron-right" />
              </a>
            )}
          </div>
        </div>
      )}
</Layout>
