---
import { SiteConfig } from "../config";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Backtop from "../components/Backtop.astro";
const { title, favicon } = SiteConfig;
const { pagetitle, children } = Astro.props;
import "../styles/global.css";
import "../styles/markdown.css";

// 使用页面传递的标题，如果没有则使用默认标题
const pageTitle = pagetitle || title;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href={favicon} />
    
  </head>
  <body>
    <Header />
    <div class="container " >
      <br>
      <slot />
      <Footer />
    </div>
    <Backtop />
  </body>
</html>
